<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Issue</title>
</head>
<body>
<header><center><h1>Create Issue Page</h1></center></header>
<form name="Data" action="/create" method="post">
    <center>
        <label>Enter the Title</label><br>
        <input type="text" name="title"><br><br>
        <label>Enter the Issue</label><br>
        <input type="text" name="issue"><br><br>
        <label>Enter the API token</label><br>
        <input type="text" name="token"><br><br>
        <input type="submit" value="Submit">
    </center>
</form>
</body>
</html>