<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<form name="Main" action="/home" method="post">
<header><center><h1>Welcome to Issue Manager</h1></center></header>
<br>
<center>
    <header>Select the Feature</header><br>
    <a href="/view"><button name="view.html" value="view.html">View Issue</button></a><br><br>
    <a href="/update"><button name="update.html" value="update.html">Update Issue</button></a><br><br>
    <a href="/create"><button name="create.html" value="create.html">Create Issue</button></a><br><br>

</center>
</form>
</body>
</html>