<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<header><center><h1>Update Issue Page</h1></center></header>
<form name="Data" action="/update" method="post">
    <center>
        <label>Enter the issue number</label><br>
        <input type="text" name="number"><br><br>
        <label>Enter the Title</label><br>
        <input type="text" name="title"><br><br>
        <label>Enter the Issue</label><br>
        <input type="text" name="issue"><br><br>
        <input type="submit" value="Submit">
    </center>
</form>
</body>
</html>